<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0"/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <title>WEConnect - You're Welcome</title>
 <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link  href="vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="home">


<div class="container-fluid">

  <div class="row">
    <header class="head">
      <div class="col-xs-12 col-sm-4"> 
        <img src="images/logo.png" class="logo" />
      </div>
      <div class="col-xs-12 col-sm-8">

        <div class="sign-ins">
          <ul>
            <li>
              <a href="signup.html"><input type="submit" value="Sign Up" />
              </a>
            </li>
            <li>
              <a href="signout.html"><input type="submit" value="Sign Out" />
              </a>
            </li>
          </ul>
        </div>

        <form class="signin-form form-inline">
<div class="form-group">
<input type="email" class="signin-field form-control" placeholder="Your E-Mail">
</div>
<div class="form-group">
<input type="password" class="signin-field form-control" placeholder="Your Password">
</div>
<button type="submit" class="signin-button btn btn-default">Sign In</button>
</form>



        
      </div>
    </header>
  </div>

<div class="navi">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>
          <a href="index.html"><input class="nav1" type="submit" value="Home" />
          </a>
        </li>
        <li>
          <a href="listing.html"><input class="nav2" type="submit" value="Business Listing" />
          </a>
        </li>
        <li>
          <a href="register.html"><input class="nav3" type="submit" value="Register a Business" />
          </a>
        </li>
        <li>
          <a href="my-businesses.html"><input class="nav3" type="submit" value="My Businesses" />
          </a>
        </li>
        <li>
          <a href="account.html"><input class="nav3" type="submit" value="Account Settings" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-sm-12">
      <div class="slideshow">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner"  role="listbox">
            <div class="item active">
              <img src="images/slide1.png" width="105%" alt="Image1">
            </div>
            <div class="item">
              <img src="images/slide2.png" width="105%" alt="Image2">
            </div>
            <div class="item">
              <img src="images/slide3.png" width="105%" alt="Image3">
            </div>
          </div>

          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
            </span><span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
            </span><span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </div>

    <div class="h1 business-heading">
      <<< &nbsp; &nbsp; POPULAR BUSINESSES &nbsp; &nbsp; >>>
    </div>

<div class="thumbnail-section">
<div class="thumbnail-single col-xs-12 col-sm-3"><a href="single-business.html">
<img src="images/business-image.png"/>
</a>
<h1><a href="single-business.html">
  Crystal Touch DryCleaning Services Limited Nigeria
</a></h1>
<p><a href="single-business.html">
  Lorem ipsum dolor sit amet,
 adipiscing elit. Etiam pulv inar, mauris sit
 amet interdum feugiat, nibh eros elemen tum tur pis.</a></p>
 <div class="actions">
  <div class="col-xs-6">
    <a href="single-business.html" title="20 Reviews">20<span class="">
    <i class="fa fa-comment fa-active" aria-hidden="true"></i>
    </span></a>
  </div>
  <div class="col-xs-6">
    <div class="">
    <a href="single-business.html" title="View Business Details"><span class="">
    <i class="fa fa-info fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="update-budiness.html" title="Edit Business"><span class="">
    <i class="fa fa-edit fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="#" title="Remove Business"><span class="">
    <i class="fa fa-close fa-active" aria-hidden="true"></i>
    </span></a>
    </div>
  </div>
 </div>
</div>

<div class="thumbnail-single col-xs-12 col-sm-3"><a href="single-business.html">
<img src="images/business-image.png"/>
</a>
<h1><a href="single-business.html">
  Crystal Touch DryCleaning Services Limited Nigeria
</a></h1>
<p><a href="single-business.html">
  Lorem ipsum dolor sit amet,
 adipiscing elit. Etiam pulv inar, mauris sit
 amet interdum feugiat, nibh eros elemen tum tur pis.</a></p>
 <div class="actions">
  <div class="col-xs-6">
    <a href="single-business.html" title="20 Reviews">20<span class="">
    <i class="fa fa-comment fa-active" aria-hidden="true"></i>
    </span></a>
  </div>
  <div class="col-xs-6">
    <div class="">
    <a href="single-business.html" title="View Business Details"><span class="">
    <i class="fa fa-info fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="update-budiness.html" title="Edit Business"><span class="">
    <i class="fa fa-edit fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="#" title="Remove Business"><span class="">
    <i class="fa fa-close fa-active" aria-hidden="true"></i>
    </span></a>
    </div>
  </div>
 </div>
</div>

<div class="thumbnail-single col-xs-3"><a href="single-business.html">
<img src="images/business-image.png"/>
</a>
<h1><a href="single-business.html">
  Crystal Touch DryCleaning Services Limited Nigeria
</a></h1>
<p><a href="single-business.html">
  Lorem ipsum dolor sit amet,
 adipiscing elit. Etiam pulv inar, mauris sit
 amet interdum feugiat, nibh eros elemen tum tur pis.</a></p>
 <div class="actions">
  <div class="col-xs-6">
    <a href="single-business.html" title="20 Reviews">20<span class="">
    <i class="fa fa-comment fa-active" aria-hidden="true"></i>
    </span></a>
  </div>
  <div class="col-xs-6">
    <div class="">
    <a href="single-business.html" title="View Business Details"><span class="">
    <i class="fa fa-info fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="update-budiness.html" title="Edit Business"><span class="">
    <i class="fa fa-edit fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="#" title="Remove Business"><span class="">
    <i class="fa fa-close fa-active" aria-hidden="true"></i>
    </span></a>
    </div>
  </div>
 </div>
</div>

<div class="thumbnail-single col-xs-3"><a href="single-business.html">
<img src="images/business-image.png"/>
</a>
<h1><a href="single-business.html">
  Crystal Touch DryCleaning Services Limited Nigeria
</a></h1>
<p><a href="single-business.html">
  Lorem ipsum dolor sit amet,
 adipiscing elit. Etiam pulv inar, mauris sit
 amet interdum feugiat, nibh eros elemen tum tur pis.</a></p>
 <div class="actions">
  <div class="col-xs-6">
    <a href="single-business.html" title="20 Reviews">20<span class="">
    <i class="fa fa-comment fa-active" aria-hidden="true"></i>
    </span></a>
  </div>
  <div class="col-xs-6">
    <div class="">
    <a href="single-business.html" title="View Business Details"><span class="">
    <i class="fa fa-info fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="update-budiness.html" title="Edit Business"><span class="">
    <i class="fa fa-edit fa-active" aria-hidden="true"></i>
    </span></a>
    <a href="#" title="Remove Business"><span class="">
    <i class="fa fa-close fa-active" aria-hidden="true"></i>
    </span></a>
    </div>
  </div>
 </div>



</div>
<div class="col-xs-12"><a href="listing">
  <button type="submit" class="view-more btn btn-default">Click to view more businesses</button>
</a>
</div>
</div>



</div>
</div>

<footer class="footer">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-5">
        <ul class="footer-nav">
          <li class="footer-nav1"><a href="index.html">Home</a></li>
          <li><a href="#"> &nbsp; | &nbsp; </a></li>
          <li class="footer-nav2"><a href="listing.html">Business Listing</a></li>
          <li><a href="#"> &nbsp;| &nbsp; </a></li>
          <li class="footer-nav3"><a href="register.html">Register your Business</a></li>
          <li><a href="#"> &nbsp;| &nbsp; </a></li>
          <li class="footer-nav4"><a href="my-businesses.html">My Businesses</a></li>
        </ul>
      </div>
      <div class="p copyright col-xs-12 col-sm-7">
        Copyright (c) 2016 &nbsp; WEConnect App &nbsp; All Rights Reserved &nbsp; |  &nbsp;
          Designed & Developed by Victor Ukafor
      </div>
  </div>
</div>
</div>
</footer>






<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
   